body {
	background: url(../images/bg.jpg) no-repeat #cfd3d5;
	background-position: top left;
	font-family: 微软雅黑;
	color: #454545;
	font-size: 14px;
}

.titlePane {
	background: url(../images/suggst_title.gif) no-repeat white;	
	top: 0px;
	width: 900px;
	height: 130px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
	-webkit-box-shadow: 0 0 15px gray;
	/*圆角*/
	border-radius: 0px 0px 15px 15px;
	-webkit-border-radius: 0px 0px 15px 15px;
	-moz-border-radius: 0px 0px 15px 15px;

}

.titlePane h1 {
	position: relative;
	font-size: 40px;
	font-family: Tahoma;
	font-weight: normal;
	top: 60px;
	left: 40px;
	/*渐变效果*/
	background: -webkit-gradient(linear, 0% 0%, 10% 0%, from(#235fa2), to(#388db4));
	color: transparent;
	-webkit-background-clip: text;
}

.contentPane {
	background: url(../images/suggst_column.gif) no-repeat right top white;
	/*width + 2padding = 900px*/
	width: 820px;
	padding: 40px;
	
	position: relative;
	top: 25px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0 0 15px gray;
	/*圆角*/
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

.contentPane a {
	text-decoration:none;
	color:#454545;
}

.contentPane a:hover{
	color:#2c7db5;
}


.contentPane p {	
	text-indent: 2em;
}

.contentPane h2 {
	color: #0d5689;
	font-size: 22px;
	font-weight: normal;
}

.contentPane h3 {
	color:#2c7db5;
	font-size: 16px;
	font-weight: normal;
}

.contentPane li {
	color: #2c7db5;
	font-size: 16px;
}
#logo {
	position: absolute;
	top: 330px;
	left: 600px;
}



#acknowledgement {
	color: #464646;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
}
