.designedTable{
	position:absolute;
	top:40px;
	left:20px;
}
.buttonWrapper{
	position:absolute;
	top:150px;
	margin-left:100px;
}
.fancyboxWrapper{
	margin-top:30px;
}
.errorWrapper{
	position:absolute;
	top:125px;
	left:50px;
}
